.buttonContainer {
  padding-top: 30px;
}

.endTurnButton {
  height: 50px;
  width: 100%;
  font-size: 18px;
}

.resourceContainer {
  padding-top: 10px;
  font-size: 18px;
}

.selected {
  font-size: 18px;
}

.info {
  font-size: 18px;
  padding-bottom: 10px;
}

.resource {
  padding-right: 20px;
  font-size: 18px;
}

hr {
  margin-top: 30px;
}
